In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt


%matplotlib inline

This is programming assignment for week 4. In this assignment you will be solving classification task and performing exploratory data analysis. 

### Grading
The assignment contains both automatically graded and peer reviewed tasks. 

**Automatic grading**
After you finish solving all the tasks restart the kernel (`kernel -> restart`) and and click button `Validate` to check that everything works as expected. Afterwards, you can submit your work.

**Peer Review**
Some of the tasks cannot be checked automatically,  therefore, we'll be using peer review. Please, download this notebook with solutions (`File → Download as → Notebook (.ipynb)`) and submit it for peer review. Each peer reviewed task contains grading instructions. 


# Table of Contents:
* [Part1.](#part1) EDA and Feature Engineering
    - [Explore the Target Variable](#target)
    - [Categorical Features](#cat_features)
        - [Task 1](#task1) [2 pts]
        - [Task 2](#task2) [1 pt]
        - [Task 3](#task3) [1 pt]
        - [Task 4](#task4) [1 pt]
        - [Task 5](#task5) [peer review]
    - [Ordinal and numeric features](#rest_features)
        - [Task 6](#task6) [peer review]
        - [Task 7](#task7) [1 pt]
        - [Task 8](#task8) [peer review]
        - [Task 9](#task9) [1 pt]
    - [Missing values](#na)
        - [Task 10](#task10) [1 pt]
        - [Task 11](#task11) [2 pts]
    - [Columns transformers](#columns)
        - [Task 12](#task12) [2 pts]
    - [Train-test split](#train_test)
* [Part2](#part2). Training, comparing and testing models
    - [Task 13](#task13) [1 pt]
    - [Task 14](#task14) [1 pt]
    - [Task 15](#task15) [2 pts]

# Part 1. Exploratory Data Analysis (EDA) and Feature Engineering <a class="anchor" id="part1"></a>


### The goal
Explore the data, fix NAs, check if there are some mistakes and outliers, preprocess and select relevant features before fitting the model.

## 0. Explore the dataset and the task

Below you can find the dataset, which you will be working with in this assignment. It contains information about the passangers of the Titanic. The target variable that we are going to predict is `Survived`. It is a binary variable which indicates whether a given passenger survived in the Titanic catastroph.

In [ ]:
titanic = pd.read_csv('titanic.csv')
titanic.head()

We have data for Titanic passengers, the goal is to predict the column `Survived`.

## 1.1 Explore the target <a class="anchor" id="target"></a>

To begin with, let us plot the barplot for the traget variable. It is very convenient to use wrapper around `matplotlib` provided by `pandas`. You can read about it [here](https://pandas.pydata.org/pandas-docs/stable/user_guide/cookbook.html#cookbook-plotting).

In [ ]:
titanic.Survived.value_counts().plot(kind='bar')
plt.grid()
plt.title('Distirbution of the target variable');

---
## 1.2 Explore categorical features <a class="anchor" id="cat_features"></a>


We will start from creating a new feature called `Title`. By the title we mean the name prefix, such as `Mr`, `Miss`, `Dr` etc. It may tell us a lot about age or family status of the passenger even if this information is missing from the dataset. 

Let us take a look at some of the `Name` values. You can see that for each passenger name is organised as: 

```
Surname, Title. Name
```

In [ ]:
titanic.Name[:10]

---
**Task 1** [2 pts] Add a new column `Title` to the `titanic` dataframe. <a class="anchor" id="task1"></a>

*Hints:* 
1. You need to extract part of the string from each value of the `Name` column
2. `pandas.Series.str` has wide variaty of vectorized string functions. That is, if you run `titanic.Name.str.useful_function()`, then `useful_function()` will be applied to each element of the column `Name`. Take a look at the [documentation](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.str.html) for more details and the list of "useful functions".
3. You'll likelily need to apply regular expressions (but it is also to possible to do the task without it). Do not worry, it is nothing sophisticated. Here is all you need to know:
 * `[a-zA-Z]` - refers to any letter 
 * `\.` - refers to the dot
 * `\,` - refers to the comma
 * `+` - means that the element repeats 1 or more times. E.g. `\.+` means 1 or more dots
 * `\s` - refers to any spacing sign 
4. Extract the title without the dot that goes after it

In [ ]:
# your code here

In [ ]:
print(titanic['Title'].value_counts())

<a class="anchor" id="task2"></a>
You can see that some titles are very rare, which makes their usefulness questionable. We will now combine all the titles which has 6 or less observations into one category called `Other`.

---
**Task 2** [1 pt]. Create a vector `proper_titles` which contains all titles with > 6 observations. For all the passengers, who have title not from the `proper_titles` list, rename their `Title` to `Other`.

In [ ]:
# your code here

In [ ]:
print(proper_titles)
print()
print(titanic.Title.value_counts())

---
<a class="anchor" id="task3"></a>
**Task 3** [1 pt] Obtain the list of all the categorical columns (columns with data type `object`). Name this list `categ_columns`.

In [ ]:
# your code here

In [ ]:
print(categ_columns)

Let us explore these categorical features in more details. We will use method `describe` to obtain some statistics about them.

In [ ]:
titanic[categ_columns].describe(include='object')

Sometimes, categorical columns contain too many unique values, which do not have a lot of information about the task we are solving. There are cases, when it is possible to extract some useful details from such variables (as we just did with the `Name`). But if you can't it might be better to drop such variable. 


---
<a class="anchor" id="task4"></a>
**Task 4** [1 pt] Remove all the categorical features, which have more than 100 unique values. 

P.S. Remove the corresponding columns from the dataframe `titanic` and unpdate list of categorical feature `categ_columns` to contain only categorical features that are left.

In [ ]:
# your code here

In [ ]:
print(categ_columns)

titanic[categ_columns].head()

Let's consider distribution of all the categorical features now

---
<a class="anchor" id="task5"></a>
**Task 5** [Peer Reviewed] For each categorical feature draw two bar plots side by side. On the first plot, height of the bar should depict number of passengers in each category, while on the second, height of the bar should depict propostion of survived passengers in the category.

In [ ]:
# your code here

**Peer Review Grading.** Below you can find the correct plots for this task. Please, compare them to the plots produced by the code above. Please, do not pay attention to the order in which graphs are ploted.

<img src="correct_plot_Embarked.png" width=600 height=600 />
<img src="correct_plot_Sex.png" width=600 height=600 />
<img src="correct_plot_Title.png" width=600 height=600 />

---
## 1.3 Ordical and Numeric Features <a class="anchor" id="rest_features"></a>

Now consider the rest of the dataset. Below you can see the first few observations from all the non-categorical features.

In [ ]:
titanic[[c for c in titanic.columns if c not in categ_columns + ['Survived']]].head()

---
<a class="anchor" id="task6"></a>
**Task 6** [Peer graded] We suggest removing the feature `PassengerID` from the dataset. Please do it below and write your comment on why this is a resonalbe thing to do.

In [ ]:
# your code here

```Your comment here```

In [ ]:
assert 'PassengerId' not in titanic.columns

**Peer Review Grading.** Please read the comment above and check the validity of the arguments

---
Consider two columns: `SibSp` and `Parch`. The first one is responsibel for number of Siblings/Spouses aboard the Titanic for the given passenger. The second one - number of parents/childer aboard the Titanic. Note that we can create one variable `FamilySize` out of these two. 

<a class="anchor" id="task7"></a>
**Task 7** [1 pt] Create a variable `FamilySize` as a total size of the passenger's family aboard. Remove columns `SibSp` and `Parch` from the dataset afterwards.

In [ ]:
# your code here

In [ ]:
titanic.FamilySize.value_counts().sort_index().plot(kind='bar')
plt.title('Family Size')
plt.grid()

---
Let us work with the variable `FamilySize` even further. Turns out, that sometimes it is reasonable to convert numerical feature into ordinal ones. E.g. instead of having a family size we can group peopple into `single`, `small_family`, etc. In this manner we can enforce larger distinction between people who do not have family at all and those who have small families. At the same time we can say that for the sake of our application we do not need to distiguish family of size 1 from the family of size 2. 

<a class="anchor" id="task8"></a>
**Task 8** [Peer Graded]. Plot the bar plot for the variable `FamilySize` where the height of the bar is determined by the proportion of the survived passengers. Based on the created plot split all the passengers into tree groups. For each group create a binary variable `FamilySize_1`, `FamilySize_2` and `FamilySize_3`. Justify the split that you've chosen.

In [ ]:
# your code here

```your comment here```

**Peer Review Grading.** Please check that the plot above is correct (below you can see the correct answer). Also read the comment about the way the passengers were split on the groupd and check that the splitting is reasonable.

<img src="task8_corrrect.png" width=400 height=400 />


---

Basically, we've just converted numerical feature `FamilySize` into categorical one with three categories. Moreover, we've simultaniously performed One-hot encoding of this categorical feature and obtained three binary variables. Now we can drop the feature `FamilySize` as it is not needed anymore.

In [ ]:
titanic.drop(['FamilySize'], axis=1, inplace=True)

---
<a class="anchor" id="task9"></a>
**Task 9** [1 pt]. We have three features left unexplored. They are `Pclass`, `Age` and `Fare`. The frist one stands for the ticket class, second - for the age of the passenger and the fird one gives us price of the ticket. 

Please, create `ordinal_cols`, which will be list of all the ordinal columns (put there names of relevant columns) and `numeric_cols` - list with the names of the numeric columns. If there is no ordinal or numeric colums, make the corrisponding list empty.

In [ ]:
# your code here

In [ ]:
print('Ordinal columns are: ', ordinal_cols)
print('Numeric columns are: ', numeric_cols)

We can use different plots to explore numerical features. Below you can find some examples with the variable `Age`.

In [ ]:
print()
print('We can use histograms or boxplots to see how numerical features depends on the categorical one.')
print('1. Age vs Target')
titanic.hist(column='Age', by='Survived', bins=20, sharey=True);
plt.show();

print()
print('2. Age vs Sex')
titanic.boxplot(column='Age', by='Sex', figsize=(7,5));
plt.ylabel('Age');
plt.show();

print('3. Age vs Target')
titanic.boxplot(column='Age', by='Title', figsize=(7,5));
plt.ylabel('Age');
plt.show();

print()
print('Scatter plots are usefull to spot connection between two numeric features.')
titanic.plot.scatter(x='Age', y='Fare');
plt.grid()
plt.title('Scatter plot of Age and Fare');

One reason, why it is usefull to make such plots is that it may help to fill in missing values. Keep it in mind for the next part of this notebook

---
## 1.3 working with missing values <a class="anchor" id="na"></a>
<a class="anchor" id="task10"></a>
**Task 10** [1 pts] Compute proportion of missing values in each column. Store the answer in the variable `prop_missing`.

In [ ]:
# your code here

In [ ]:
# TEST
print('Proportion of missing targets: {:.2f}'.format(prop_missing.Survived))
print('Proportion of missing `Age` values: {:.2f}'.format(prop_missing.Age))

We have two columns with missing values.

In [ ]:
titanic.columns[prop_missing > 0].values

<a class="anchor" id="task11"></a>
What can we do with that? Below you can find some options:
- Fill all the NAs with the same value (mean, median, any other constant)
- Fill NAs using grouping (e.g. we can fill missing in the variable `Fare` for male and female passengers separately using their average value)
- Drop all the rows with missing values
- Drop the whole column (e.g. if there are too many missing values)

The most popular way is to use `SimpleImputer` from sklearn. If fills all the missing values with the same number. 


**Task 11** [2 pts] In this task we will implement a more phisticated Imputer. `MeanGroupImputer`. We will make sure that it has proper sklearn interface, so that we can use it within our pipelines. Below you can find the skeleton code for the `MeanGroupImputer`. Please read it carefully to make sure you understand everythig. Your task is to write missing code for the method `transform`.

In [ ]:
from sklearn.base import BaseEstimator, TransformerMixin
class MeanGroupImputer(BaseEstimator, TransformerMixin):
    '''
    Class used for imputing missing values in a pd.DataFrame using mean value within group
    
    Parameters
    ----------    
    group_cols : str
        A column used to calculate the mean values
    Returns
    -------
    X : array-like
        The array with imputed values in the target column
    '''
    def __init__(self, group_col):
        assert type(group_col) == str, 'group_col should be a string'

        self.group_col = group_col
    
    def fit(self, X, y=None):
        assert X[self.group_col].isna().sum() == 0, 'There are missing values in the group_col'
        
        # Group dataset by `group_col` and calculate mean value of all the other columns within this group
        self.mapping = X.groupby(self.group_col).mean()
        return self 
    
    def transform(self, X, y=None):
        X = X.copy()
        # make sure that the imputer was fitted
        assert self.mapping is not None
        
        # loop over all the groups
        for index, row in self.mapping.iterrows():
            
            # Fill in missing values for the group `index` with the values `row`            
            # your code here
            
        
        # Then drop grouping column (we did not transform it, so it is not needed anymore)
        X.drop(self.group_col, axis=1, inplace=True)
        return X.values

In [ ]:
toy_dataset = pd.DataFrame({'name': ['A','A', 'B','B','B','B', 'C','C','C'],
                            'value': [1, np.nan, 2, np.nan, 3, 1, 3, np.nan, 5],
                            'other_value': [10, np.nan, np.nan, 20, 30, 10, 30, np.nan, 30]})
print(toy_dataset)
imp = MeanGroupImputer(group_col='name')
output = imp.fit_transform(toy_dataset)
print(output)

# test that answers are correct for the toy dataset
assert (output[:, 0] == np.array([1.0, 1.0, 2.0, 2.0, 3.0, 1.0, 3.0, 4.0, 5.0])).all()
assert (output[:, 1] == np.array([10.0, 10.0, 20.0, 20.0, 30.0, 10.0, 30.0, 30.0, 30.0])).all()

## 1.4 Define column transformers <a class="anchor" id="columns"></a>

 <a class="anchor" id="task12"></a>
 **Task 12** [2 pts] In this task we will define columns transformer. Your task is to create three pipelines:
 - `age_pipe`: Pipeline to preprocess column `Age`. It uses `MeanGroupImputer` with the grouping variable `Title` to fill missing values in `Age` and then applies `StandardScaler`
 - `fare_pipe`: Pipeline to preprocess column `Fare`. It applies `StandardScaler` only
 - `categ_pipe`: Pipeline to preprocess all categorical variables. It uses `SimpleImputer` to impute missing values with the most frequent class and then applies `OneHotEncoder`

In [ ]:
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.pipeline import make_pipeline

# your code here



# Combine all three pipelines in one column transformer
column_transformer = ColumnTransformer([
 ('age', age_pipe, ['Age', 'Title']),
 ('fare', fare_pipe, ['Fare']),
 ('all_categ', categ_pipe, categ_columns)],
remainder='passthrough'
)

In [ ]:
test_titanic = column_transformer.fit_transform(titanic)
print(pd.DataFrame(test_titanic))

## 1.5 Train/test split <a class="anchor" id="train_test"></a>

In [ ]:
from sklearn.model_selection import train_test_split

tr, te = train_test_split(titanic, test_size=0.2, random_state=42)

y_train = tr.Survived
y_test = te.Survived
X_train = tr.drop(['Survived'], axis=1)
X_test = te.drop(['Survived'], axis=1)

# 2. Logistic Regression and Support Vector Machine <a class="anchor" id="part2"></a>


## 2.1 Fit Logistic Regression

 <a class="anchor" id="task13"></a>
**Task 13** [1 pt] Define the `log_reg_pipe` - pipeline which applies `column_transformer` and fits logistic regression with the the hyperparameter `penalty='none'` (by default sklearn applies L2 regularization). Calculate the 5-fold cross-validation score (use `accuracy` as a scoring function). Save the result (average accuracy on cross-validation) in the variable `log_reg_score`.

In [ ]:
from sklearn.pipeline import Pipeline
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import cross_val_score

# your code here

In [ ]:
print(log_reg_score)

## 2.2 Fit Support Vector Machine

 <a class="anchor" id="task14"></a>
**Task 14** [1 pt] Define the `svm_pipe` - pipeline which applies `column_transformer` and fits Support Vector Machine model (it is imported for you below) using the hyperparameter `kernel='linear'`. Calculate the 5-fold cross-validation score (use `accuracy` as a scoring function). Save the result (average accuracy on cross-validation) in the variable `svm_score`.

In [ ]:
from sklearn.svm import SVC

# your code here

In [ ]:
print(svm_score)

## 2.3 Compare different models

 <a class="anchor" id="task15"></a>
**Task 15** [2 pts] In this task you are supposed to use grid search to find the best classifier for the given dataset. Use `GridSearchCV` class from sklearn. Use 5-Fold cross validation with accuracy as a scoring metric.

*Hints*. Read documentation to see, which hyperparameters `LogisticRegression` and `SVC` have. Pay attention to `kernel` in the SVM model and the regularization coefficient `C` for both LogisticRegression and SVC, try different penalties for `LogisticRegression`. Explore other hyperparameters as well. Your task is to simply get the best accuracy posibe. The minimum passing value will be 0.84 (average score on cross-validaition)

Please, do not use models other that `SVC` or `LogisticRegression`.

In [ ]:
from sklearn.model_selection import GridSearchCV

# your code here

In [ ]:
print(grid_pipe.best_score_)
print(grid_pipe.best_estimator_.steps[1][1])

## 2.4 Eval best model on test

Now, we can use the best estimator to evaluate model on the test dataset. 

1. Fit model on the whole test data
2. Make predictions on the test set
3. Calculate accuracy

In [ ]:
from sklearn.metrics import accuracy_score

grid_pipe.best_estimator_.fit(X_train, y_train)
y_pred = grid_pipe.best_estimator_.predict(X_test)
accuracy_score(y_test, y_pred)

# Optional Part

This homework is based on an extremely popular [Kaggle competition](https://www.kaggle.com/c/titanic/overview). We encourage you to use the result of this homework to get aquanted with this platform. Below, we provide a short instruction along with the list of useful link for those of you who are interested to learn more about it. 

1. Train the best model you can. Here you can use al the training data to perform cross-validation, because there is a separate `test set` provided by the competioint (We did not use it in the assignment, because there is not correct answers provided for this test dataset)
2. Load the test dataset: `pd.read_csv("titanic_kaggle_test.csv")`. We've saved this file for you on courserra labs already
3. Do not forget to perform the same transformations you did with the train data (e.g. create new variables, deleting others, etc.)
4. Make predictions for this dataset and save them as a csv file. You can find example of the submission file [here](https://www.kaggle.com/c/titanic/data)
5. Submit your predictions on Kaggle (do not forget to register beforehand). After some time you will see your score! Do not worry if you are not on the first place of the [Leaderboard](https://www.kaggle.com/c/titanic/leaderboard). Consider solutions of other Data Scientists in the [Notebooks](https://www.kaggle.com/c/titanic/notebooks) section.

```Good Luck!```